
    <div 
    leaflet
    style="height: 75vh;width: 50%;"
    
    [leafletOptions]="options"
    >
    </div>
<table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Sample id. </th>
      <td mat-cell *matCellDef="let dataSource1">{{dataSource1.id}}</td>
    </ng-container>
    <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef> Province </th>
        <td mat-cell *matCellDef="let dataSource1">{{dataSource1.province}}</td>
      </ng-container>

    <ng-container matColumnDef="municipality">
        <th mat-header-cell *matHeaderCellDef> Municipality </th>
        <td mat-cell *matCellDef="let dataSource1">{{dataSource1.municipality}}</td>
      </ng-container>

    <ng-container matColumnDef="barangay">
        <th mat-header-cell *matHeaderCellDef> Barangay </th>
        <td mat-cell *matCellDef="let dataSource1">{{dataSource1.barangay}}</td>
      </ng-container>

    <ng-container matColumnDef="nitrogen">
        <th mat-header-cell *matHeaderCellDef> Nitrogen </th>
        <td mat-cell *matCellDef="let dataSource1">{{dataSource1.nitrogen}}</td>
      </ng-container>
    <ng-container matColumnDef="phosporous">
        <th mat-header-cell *matHeaderCellDef> Phosporous </th>
        <td mat-cell *matCellDef="let dataSource1">{{dataSource1.phosporous}}</td>
      </ng-container>

    <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> Long </th>
        <td mat-cell *matCellDef="let dataSource1">{{dataSource1.longitude}}</td>
      </ng-container>
    <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> Lat </th>
        <td mat-cell *matCellDef="let dataSource1">{{dataSource1.latitude}}</td>
      </ng-container>

  



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let dataSource1; columns: displayedColumns;"></tr>
  </table>
  
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->